:root{
    --mag-main-color: #7b34b1;
    --mag-secondary-color: #f05656;
}

.mag-bg-primary{
    background-color: var(--mag-main-color);
}

.mag-border-bottom-secondary{
    border-bottom: var(--mag-secondary-color) solid .1875rem;

}




.mag-banner-copy{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
}

.mag-banner-copy .row {
    height: 100%;
}

.mag-magic-pay-logo{
    max-width: 20rem;
    height: auto;
    
}

/* Sem a aula */

.mag-three-cards{
    height: 42rem ; /* 680px */
}

.mag-tree-cards-body{
    height: 28.125rem; /*450px */
}

.mag-btn-card{
    height: 14.375rem ;  /*230px    */
    padding: 5.1875rem; /* 83px   */
    padding-left: 26.0625rem;
    /*417-83 = 338 = 20,875 */
    
    
}



.mag-btn-card--greenbtn{
    /* H: 64 W:278  */
    height: 4rem;
    width: 17.375rem;
}

.mag-nascemos{
    height: 1.823125rem;
    width: 0 auto;
}




.mag-credit-card{
    padding-top: 4rem;
    padding-bottom: 5.6rem;
}

.mag-text-primary{
    color: var(--mag-main-color);
}

.mag-text-secondary{
    color: var(--mag-secondary-color);
}

.mag-btn-primary{
    background-color: var(--mag-secondary-color);
    color: #fff;
}

.mag-btn-primary:hover{
    filter: grayscale(20%);
    color: #fff;

}


@media screen and (max-width: 767px){
    .navbar-brand img {
        width: 8.75rem;
        height: auto;
    }

    .mag-navbtn-group{
        display: grid;
        gap: 1.5rem;
    
    }

    .mag-navbtn-group .btn{
        border-radius: .25rem!important;
    }
}


@media screen and (min-width: 768px){
    .navbar-brand {
        margin-right: 6.25rem;
    }
    .mag-magic-pay-logo{
        max-width: 100%;
    }

    .mag-credit-card{
        padding-top: 7rem;
        padding-bottom: 9.6875rem;
    }

}

